# security.yml - Security-related configurations
---
- name: Install & configure Azure Arc and Microsoft Defender for Endpoint for Linux
  hosts: all
  become: true
  roles:
    - role: ansible_azure_arc
      tags: ['azure-arc', 'arc']
      vars:
        azure:
          service_principal_id: "{{ azure_service_principal_id }}"
          service_principal_secret: "{{ azure_service_principal_secret }}"
          resource_group: "{{ azure_resource_group }}"
          tenant_id: "{{ azure_tenant_id }}"
          subscription_id: "{{ azure_subscription_id }}"
          location: "{{ azure_location }}"
    
    - role: ansible_mde
      tags: ['defender', 'dfe']
      vars:
        onboarding_json: "files/mdatp_onboard.json"
        mde_installer_script: "files/mde_installer.sh"
        channel: "prod"